/*
* Created by PhpStorm.
* User: Artemiy Karkusha
* Date: 25.04.2018
* Time: 18:59
*/

body {
    background: #efefef;
    font-family: 'Open Sans', sans-serif;
    color: #777;
}

a {
    color: #f58220;
    font-weight: 400;
}

span {
    font-weight: 300;
    color: #f58220;
}

.mcont {
    margin: 170px auto 0;
}

#welcome {
    width: 500px;
    padding: 30px;
    background: #fff;
    margin: 160px auto 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}


/*= CONTAINERS
--------------------------------------------------------*/
.container {
    padding: 25px 16px 25px 10px;
    font-weight: 400;
    overflow: hidden;
    width: 350px;
    height: auto;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.container label {
    color: #777;
    font-size: 14px;
}

#form {
    width: 320px;
    margin: auto;
    padding-bottom: 15px;
}

.container form .input,.container input[type=text],.container input[type=password],.container input[type=e] {
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    width: 100%;
    padding: 3px;
    margin: 0 6px 5px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}
.container form .input:focus {
    border: 1px solid #20B2AA;
    -webkit-box-shadow: 0 0 3px 0 rgba(41,178,178,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(44,178,178,0.75);
    box-shadow: 0 0 3px 0 rgba(44,178,178,0.75);
}


/*= BUTTONS
--------------------------------------------------------*/

.button{
    border: solid 1px #20B2AA;
    background: #20B2AA;
    background: -webkit-gradient(linear, left top, left bottom, from(#20B2AA), to(#20B2AA));
    background: -moz-linear-gradient(top,  #20B2AA,  #20B2AA);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#20B2AA', endColorstr='#20B2AA');
    color: #fff;
    padding: 7px 12px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    float: right;
    cursor: pointer;
}


.button:hover{
    background: #20B2AA;
    background: -webkit-gradient(linear, left top, left bottom, from(#008B8B), to(#008B8B));
    background: -moz-linear-gradient(top,  #008B8B,  #008B8B);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#008B8B', endColorstr='#008B8B');
}

